{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to my portfolio</title>
        <link href="{% static 'resume/design.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div>Mahendrakumar R</div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>