{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to my portfolio</title>
        <link href="{% static 'css/design.css' %}" type="text/css" rel="stylesheet">   <!-- here static for storing css, images, javascript files-->
    </head>
    <body>

        <div class="container">
            <div class="name">Mahendrakumar R</div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="first">
            <button class="one">ClickMe</button>
            <button class="two">ClickMe</button>
        </div>

        <div class="qualification">
            <h1 class="quali">Qualification</h1>
            
            <a href="msc/">                       <!-- here (msc/) used for which path we given inside the urls.py from (resume(app))-->
                <div class="img">
                    <h1 class="m">Master</h1>
                </div> 
            </a>    

            <a href="bsc/">                       <!-- here (bsc/) used for which path we given inside the urls.py from (resume(app))-->
                <div class="img1">
                    <h1 class="b">Bachelore</h1>
                </div>
            </a>
            
        </div>

        <div class="internship">
            <h1>Internships</h1>
            
        </div>

        <div class="shoppeal_offer"></div>
        
        
</body>
</html>