*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    top: 0px;
    background-color: blue;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px;
    
}

div .name{
    position: relative;
    font-size: 30px;
    padding: 15px;
    animation: name 4s infinite;
    
}

@keyframes name {
    0%   {color: red;}
    25%  {color: rgb(252, 252, 1);}
    50%  {color: rgb(7, 247, 235);}
    100% {color: rgb(248, 81, 3);}
    }

nav {
    top: 0px;
    right: 0px;
    padding: 20px;
    position: fixed;
    font-size: 20px;

}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav a {
    text-decoration: none;
    color: rgb(7, 7, 7); /* Define link color */
}
nav a:hover {
    text-decoration: none;
    color: lightgray; 
    
}
.first{
    z-index: -1;
    width: 100%;
    position: absolute;
    background-color: blueviolet;
    left: 0px;
    top: 70px;
    height: 625px;
    
}
.one{
    position: relative;
    border-radius: 10px;
    margin-top: 500px;
    margin-left: 700px;
    padding: 10px; 
    box-shadow: 2px 4px 1px,
                2px 4px 1px; 
    
}

.two{
    position: absolute;
    border-radius: 10px;
    margin-top: 500px;
    margin-left: 300px;
    padding: 10px;
    box-shadow: 2px 4px 1px,
                2px 4px 1px;  
    
}

.qualification{
    position: absolute;
    background-color: rosybrown;
    width: 100%;
    left: 0px;
    top: 695px;
    height: 625px;
    z-index: -1;

}

.img{
    position: absolute;
    top: 70px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-image: url('/static/images/msc.jpg');   /* Here (/static/images/msc.jpg) actual path for showing images */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    box-shadow: 10px 10px 10px;
}

.img1{
    position: absolute;
    top: 70px;
    left: 500px;
    width: 200px;
    height: 200px;
    background-image: url('/static/images/bsc.jpg');   /* Here (/static/images/bsc.jpg) actual path for showing images */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    box-shadow: 10px 10px 10px;
}


.m{
    position: absolute;
    top: 200px;
    justify-content: center;
    left: 45px;
    cursor: pointer;
}

.b{
    position: absolute;
    top: 200px;
    justify-content: center;
    left: 35px;
    cursor: pointer;
}

.internship{
    position: absolute;
    background-color: rgba(10, 1, 1, 0.8);
    width: 100%;
    left: 0px;
    top: 1320px;
    height: 625px;
    z-index: -1;        
}

.shoppeal_offer{
    position: absolute;
    background-image: url('/static/images/shoppeal_offer.jpg');
    top: 1300px;
    left: 100px;
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: -1;
    box-shadow: 10px 10px 10px;
}




